* {
  margin: 0;
  padding: 0;
}
.nav-container {
  display: flex;
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: #494646;
  align-items: center;
  color: white;
  z-index: 10;
  padding-top: 1px;
  box-shadow: 3px 3px 3px 3px #888888;
}
.right-contents {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -20px;
}
.logout-btn {
  background-color: #33ff99;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 10px;
}
.logout-btn:hover {
  transform: scale(1.1);
}
.logout-link {
  text-decoration: none;
  color: white;
}
.logo-letter {
  color: #33ff99;
}
.logo-img {
  transform: scale(0.55);
}
.logo-header {
  margin-left: 10px;
  font-weight: 600;
  font-size: xx-large;
}
.thumbnail {
  border-radius: 100%;
  transform: scale(0.5);
}
