.market-container {
  width: calc(100vw - 70px);
  position: relative;
  top: 70px;
  left: 70px;
}
.detailtitle {
  color: "red";
}
.market-header {
  color: #33ff99;
}

.horizontalform {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
