.market-container {
  width: calc(100vw - 70px);
  position: relative;
  top: 70px;
  left: 70px;
}
.detailtitle {
  color: "red";
}
.market-header {
  color: #33ff99;
}

.horizontalform {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  .market-container {
    width: 100%;
    align-items: center;
    display: block;
    margin: auto;
    left: 0;
    justify-content: center;
  }
  .cards {
  }
}
