.mobile-top-container {
  background-color: #ffff;
  position: fixed;
  padding: 0;
  width: 100%;
  height: 80px;
  display: flex;
  vertical-align: baseline;
  z-index: 100;

  box-shadow: 0px 1px 1px #8888;
}
.black-text {
  font-weight: bolder;
  font-size: xx-large;
  color: rgb(78, 74, 74);
  margin-right: auto;
  margin-top: 1rem;
  margin-left: 1rem;
}
.other-text {
  color: #33ff99;
}
.top-profile {
  transform: scale(0.7);
  border-radius: 100%;
}
@media only screen and (max-width: 600px) {
  .mobile-top-container {
    width: 100%;
  }
}
